@font-face {
    font-family: Shabnam;
    src: url('../shabnam-font-v2.4.0/Shabnam.eot');
    src: url('../shabnam-font-v2.4.0/Shabnam.eot?#iefix') format('embedded-opentype'),
        url('../shabnam-font-v2.4.0/Shabnam.woff') format('woff'),
        url('../shabnam-font-v2.4.0/Shabnam.ttf') format('truetype');
    font-weight: normal;
}

/* CSS Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Shabnam !important;
    font-size: 16px;
}

/* Utility Styles */

.primary-bg {
    background: #030370;
    background: linear-gradient(320deg, #030370 35%, #07a4c4 100%) !important;
}

.secondery-bg {
    background-color: #5483B3 !important;
}

.light-bg {
    background-color: #7DA0CA !important;
}

.white-bg {
    background-color: #c1e8ff !important;
}

.primary-cl {
    color: #030370 !important;
}

.secondery-cl {
    color: #5483B3 !important;
}

.light-cl {
    color: #7DA0CA !important;
}

.white-cl {
    color: #c1e8ff !important;
}

.primary-hover:hover {
    background-color: #c1e8ff !important;
}

.vh-90 {
    height: 90vh;
    width: 100%;
}

.w-80 {
    width: 80%;
}

.txt-shadow {
    text-shadow: 2px 4px 2px rgba(75, 59, 196, 0.46)
}

.up-down {
    animation: up-down linear 4s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    -webkit-animation: up-down linear 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: up-down linear 4s;
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: 50% 50%;
    -o-animation: up-down linear 4s;
    -o-animation-iteration-count: infinite;
    -o-transform-origin: 50% 50%;
    -ms-animation: up-down linear 4s;
    -ms-animation-iteration-count: infinite;
    -ms-transform-origin: 50% 50%;
}

@keyframes up-down {
    0% {
        transform: translate(1px, 20px);
    }

    24% {
        transform: translate(1px, 30px);
    }

    50% {
        transform: translate(1px, 12px);
    }

    74% {
        transform: translate(1px, 22px);
    }

    100% {
        transform: translate(1px, 22px);
    }
}

/* Utility styles end */

header {
    background: #030370;
    background: linear-gradient(320deg, #030370 35%, #07a4c4 100%);
}   